# Build and Release Folders
vendor
logs
storage
images/products
# Other files and folders
auth.json
.DS_Store
tmp

# Executables
*.exe


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
